<script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
<script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js'></script>

<script src='https://s3.amazonaws.com/static.texastribune.org/common/vendor/modernizr/modernizr.min.js'></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js'></script>
<script type='text/javascript' src='https://s3.amazonaws.com/static.texastribune.org/chartjs/globalize.js'></script>
<script type='text/javascript' src='https://s3.amazonaws.com/static.texastribune.org/chartjs/dx.chartjs.debug.js'></script>
<script type='text/javascript' src='https://s3.amazonaws.com/static.texastribune.org/data/health/ACA/Enrollment/data.js'></script>
<script type='text/javascript' src='https://s3.amazonaws.com/static.texastribune.org/data/health/ACA/Enrollment/datab.js'></script>

<script type='text/javascript'>// <![CDATA[
(function() {

var Who = Backbone.Model.extend({
  returnData: function() {
    var self = this;
    var payload = [];
    _.each(this.get('xdata'), function(v,i) {
      payload.push({
        label: self.get('xlabels')[i],
        data: self.get('xdata')[i]
      });
    });
    return payload;
  }
});

var Enrolled = Backbone.Model.extend({
  returnData: function() {
    var self = this;
    var payload = [];

    _.each(this.get('ydata'), function(v,i) {
      payload.push({
        label: self.get('ylabels')[i],
        data: self.get('ydata')[i]
      });
    });
    return payload;
  }
});

var Uninsured = Backbone.Collection.extend({
  model: Who,
  comparator: 'who'
});

var Insured = Backbone.Collection.extend({
  model: Enrolled,
  comparator: 'enrolled'
});

var WhoSelectView = Backbone.View.extend({
  el: '#who-select',

  events: {
    'change': 'selectNewActiveWho'
  },

  initialize: function() {
    this.listenTo(this.collection, 'reset', this.render);
  },

  render: function() {
    var payload = [];

    this.collection.each(function(model) {
      var view = new IndividualSelectView({model: model});
      payload.push(view.render().el);
    });

    this.$el.append(payload);
  },

  selectNewActiveWho: function() {
    var val = this.$el.val();
    var id = this.collection.findWhere({id: val});

    activeWho.set(id);
  },

  setActiveValue: function(val) {
    this.$el.val(val);
  }
});

var IndividualSelectView = Backbone.View.extend({
  tagName: 'option',

  template: _.template('<%= id %>'),

  render: function() {
    this.$el.html(this.template(this.model.toJSON())).attr('value', this.model.get('id'));
    return this;
  }
});

var EnrolledSelectView = Backbone.View.extend({
  el: '#enrolled-select',

  events: {
    'change': 'selectNewActiveEnrolled'
  },

  initialize: function() {
    this.listenTo(this.collection, 'reset', this.render);
  },

  render: function() {
    var payload = [];

    this.collection.each(function(model) {
      var view = new IndividualSelectViewb({model: model});
      payload.push(view.render().el);
    });

    this.$el.append(payload);
  },

  selectNewActiveEnrolled: function() {
    var val = this.$el.val();
    var id = this.collection.findWhere({id: val});

    activeEnrolled.set(id);
  },

  setActiveValue: function(val) {
    this.$el.val(val);
  }
});

var IndividualSelectViewb = Backbone.View.extend({
  tagName: 'option',

  template: _.template('<%= id %>'),

  render: function() {
    this.$el.html(this.template(this.model.toJSON())).attr('value', this.model.get('id'));
    return this;
  }
});

var BarChartView = Backbone.View.extend({
  el: '#chart-container',
  labels: ['Texas',   'Florida',  'California',   'United States',  'New York',   'Pennsylvania'],

  initialize: function() {
    this.renderChart();
  },

  renderChart: function(model) {
    var myPalette = [
          'rgb(177, 33, 37)',
          'rgb(62, 103, 176)',
          'rgb(68, 171, 223)',
          'rgb(252, 193, 15)',
          'rgb(55, 157, 146)',
          'rgb(153, 61, 136)',
          'rgb(76, 90, 105)'
        ];
    DevExpress.viz.core.registerPalette('mySuperPalette', myPalette);

    var parentWidth = this.$el.parent().width();
    var height = $(window).width() > 767 ? 400 : 350;

    var chartDataSource = [
      {state: 'Texas', percent: .23},  {state: 'Florida', percent: .205},  {state: 'California', percent: .178}, {state: 'United States', percent: .149},  {state: 'New York', percent: .113}, {state: 'Pennsylvania', percent: .097},
    ];

    this.$el.attr({width: parentWidth, height: height});
    this.$el.dxChart({
      dataSource: chartDataSource,
      series: {
        argumentField: 'state',
        valueField: 'percent',
        type: 'bar',
        color: 'rgb(155, 206, 200)',
        label: {
          visible: true,
          format: 'percent',
          connector: {
            visible: true,
            width: 1
          }
        }
      },
      legend: {
        visible: false
      },
      valueAxis: {
        title: 'Rate in 2012',
        label: {
          format: 'percent'
        }
      },
      title: 'Percent Uninsured in the U.S., 5 Most Populous States',
      palette: 'mySuperPalette',
      tooltip: {
        enabled: true,
        percentPrecision: 2,
        customizeText: function (value) {
          return value.percentText;
        }
      }
    });
  }
});

var PieView = Backbone.View.extend({
  el: '#chartContainer',

  initialize: function() {
      this.listenTo(activeWho, 'add', this.renderChart);
  },

  renderChart: function(model) {

    var dataSource = model.returnData();
    var myPalette = [
          'rgb(177, 33, 37)',
          'rgb(62, 103, 176)',
          'rgb(68, 171, 223)',
          'rgb(252, 193, 15)',
          'rgb(55, 157, 146)',
          'rgb(153, 61, 136)',
          'rgb(76, 90, 105)'
        ];
    DevExpress.viz.core.registerPalette('mySuperPalette', myPalette);

    var parentWidth = this.$el.parent().width();
    var height = $(window).width() > 767 ? 400 : 350;

    this.$el.attr({width: parentWidth, height: height});

    this.$el.dxPieChart({
      dataSource: dataSource,
      series: [
        {
          argumentField: 'label',
          valueField: 'data',
          label: {
            visible: true,
            format: 'largeNumber',
            connector: {
              visible:true,
              width: 1
            }
          }
        }
      ],
      legend: {
        verticalAlignment: 'bottom',
        horizontalAlignment: 'center'
      },
      tooltip: {
        enabled: true,
        percentPrecision: 2,
        customizeText: function (value) {
          return value.percentText;
        }
      },
      title: 'Who Are the Uninsured?',
      palette: 'mySuperPalette'
    });
  }
});

var BarChartViewB = Backbone.View.extend({
  el: '#chart-containerC',
  labels: ['Texas',   'Florida',  'California',   'United States',  'New York',   'Pennsylvania'],

  initialize: function() {
    this.renderChart();
  },

  renderChart: function(model) {
    var myPalette = [
          'rgb(177, 33, 37)',
          'rgb(62, 103, 176)',
          'rgb(68, 171, 223)',
          'rgb(252, 193, 15)',
          'rgb(55, 157, 146)',
          'rgb(153, 61, 136)',
          'rgb(76, 90, 105)'
        ];
    DevExpress.viz.core.registerPalette('mySuperPalette', myPalette);

    var parentWidth = this.$el.parent().width();
    var height = $(window).width() > 767 ? 400 : 350;

    var chartDataSource = [
      {
        series: 'Total Uninsured',
        'Ineligible Immigrants': 1226000,
        'Ineligible (Too High of Income or Has Employer Coverage)': 1264000,
        'Eligible for Tax Credits': 1756000,
        'In the Coverage Gap': 1046000,
        'Eligible for Medicaid/CHIP': 874000
      },
    ];

    this.$el.attr({width: parentWidth, height: height});
    this.$el.dxChart({
      dataSource: chartDataSource,
      commonSeriesSettings: {
        argumentField: 'series',
        type: 'fullstackedbar',
        label: {
          visible: true,
          customizeText: function(value){
            return value.seriesName;
          },
          format: 'largeNumber',
          alignment: 'center',
          position: 'inside',
          connector: false
        }
      },
      series: [{
        name: 'Undocumented Immigrants',
        valueField: 'Undocumented Immigrants'
      },
      {
        name: 'Ineligible for Assistance',
        valueField: 'Ineligible (Too High of Income or Has Employer Coverage)'
      },
      {
        name: 'Eligible for Tax Credits',
        valueField: 'Eligible for Tax Credits'
      },
      {
        name: 'In the Coverage Gap',
        valueField: 'In the Coverage Gap'
      },
      {
        name: 'Eligible for Medicaid/CHIP',
        valueField: 'Eligible for Medicaid/CHIP'
      }],
      legend: {
        visible: false
      },
      valueAxis: {
        title: 'Texans Without Health Insurance',
        label: {
          format: 'percent'
        }
      },
      title: 'How Many of Uninsured Texans are Eligible for Assistance?',
      palette: 'mySuperPalette',
      tooltip: {
        enabled: true,
        percentPrecision: 2,
        customizeText: function (value) {
          return value.percentText;
        }
      },
    });
  }
});
var PieViewB = Backbone.View.extend({
  el: '#chartContainerD',

  initialize: function() {
    this.listenTo(activeEnrolled, 'add', this.renderChart);
  },

  renderChart: function(model) {

    var dataSource = model.returnData();
    var myPalette = [
          'rgb(177, 33, 37)',
          'rgb(62, 103, 176)',
          'rgb(68, 171, 223)',
          'rgb(252, 193, 15)',
          'rgb(55, 157, 146)',
          'rgb(153, 61, 136)',
          'rgb(76, 90, 105)'
        ];
    DevExpress.viz.core.registerPalette('mySuperPalette', myPalette);

    var parentWidth = this.$el.parent().width();
    var height = $(window).width() > 767 ? 400 : 350;

    this.$el.attr({width: parentWidth, height: height});

    this.$el.dxPieChart({
      dataSource: dataSource,
      series: [
        {
          argumentField: 'label',
          valueField: 'data',
          label: {
            visible: true,
            customizeText: function(value) {
              return value.argumentText + ': ' + value.valueText + '%';
            },
            format: 'largeNumber',
            connector:{
              visible:true,
              width: 1
            }
          }
        }
      ],
      legend: {
        verticalAlignment: 'bottom',
        horizontalAlignment: 'center'
      },
      tooltip: {
        enabled: true,
        percentPrecision: 2,
        customizeText: function (value) {
          return value.percentText;
        }
      },
      title: 'How Does Enrollment Look, So Far?',
      palette: 'mySuperPalette'
    });
  }
});

function commas(x) {
  return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
}

var uninsured = new Uninsured();
var activeWho = new Backbone.Collection();
var whoSelectView = new WhoSelectView({collection: uninsured});
var insured = new Insured();
var activeEnrolled = new Backbone.Collection();
var enrolledSelectView = new EnrolledSelectView({collection: insured});

new BarChartView();
new BarChartViewB();
new PieView();
new PieViewB();

uninsured.reset(whoData);
activeWho.set(uninsured.findWhere({id: 'Age'}));
insured.reset(enrolledData);
activeEnrolled.set(insured.findWhere({id: 'Age'}));

})();
// ]]></script>
